.env
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version
.idea
.git
.vscode
.venv
*.pyc
*.pyo

.mypy_cache
.pytest_cache
.ruff_cache
.vscode/
.idea/
*.swp
*.swo
.DS_Store
dist/
build/
*.egg-info/



docs
